body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  display: flex;
}

.sidebar {
  width: 150px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: fixed;
}

.sidebar h1 {
  font-size: 1.5em;
  margin-top: 0;
}

.sidebar a {
  display: block;
  margin: 10px 0;
  color: #000;
  text-decoration: underline;
}

.content {
  margin-left: 220px;
  padding: 40px 20px;
  max-width: 800px;
}

h2 {
  font-size: 1.5em;
  margin-top: 1.5em;
}

.section {
  margin-bottom: 2em;
}

.flex-container {
  width: 200px;
  height: 50px;
  background-color: #f4f400;
  display: flex;
}

.rightimage {
  margin-left: 20px;
  padding: 120px 20px;
}

.hanging div.bib-entry {
  margin-left:2em;
  text-indent:-2em;
}
